*{
    padding: 0;
    margin: 0;
}
html{
    background-color: #FFFFCC;
}
.container{
    width: 980px;
    margin: 0 auto;

}
header{
    height: 100px;
    background: #FFFF66;
    margin-bottom: 1px;
}
header img{
    padding-left: 35px;
}
nav{
    height: 35px;
    background: #0099FF;
    margin-bottom: 5px;

}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 35px;
    padding: 0 15px;
}
nav .menu ul li a{
    color: #FFFFCC;
    font-size: 20px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav .search{
    line-height: 35px;
    float: right;
    padding-right: 55px;
}
