/*--footer--*/
#footer{
    width: 100%;
    height: 350px;
    background: #a4b0be;
}
.footer-giua{
    text-align: center;
    font-family: 'Maitree', serif;
}
.footer-logo{
    text-align: center;
    padding-bottom: 15px;
}
.footer-logo img{
    width: 10%;
}
.links{
    text-align: center;
    padding-bottom: 15px;
}
.links a i{
    padding: 20px;
    font-size: 50px;
}
.links a:nth-child(1){
    color: #0891e6;
}
.links a:nth-child(2){
    color: #ec9e0d;
}
.links a:nth-child(3){
    color: #f80000;
}
.links a:nth-child(4){
    color: #021e25;
}
