@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Calistoga&family=Dancing+Script:wght@700&family=Kaushan+Script&family=Maitree:wght@300&family=Signika:wght@600&family=Tapestry&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none !important;
    color: #555;
}

a:hover {
    color: #f8f8f8;
}
p{
    font-family: 'Tapestry';
}
/* ============
   Menu
===============*/
#wrapper{
    text-align: center;
    background-color: #dfe6e9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 0px;
    z-index: 3;
    
}
#topnav{
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
nav{
    background-color: #dfe6e9;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
}
#main-menu{
    display: flex;
    justify-content: center;
}
nav #main-menu li {
    padding: 0 15px;
}
nav #main-menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-family: 'Bangers';
    font-size: 30px;
    position: relative;
}
nav #main-menu a::after{
    content: "";
    height: 4px;
    width: 0px;
    background:#00a8ff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 35px;
}
nav #main-menu a:hover:after{
    width: 100%;
}
#toggle{
    display: none;
    background-color: #dfe6e9;
    color: black;
    text-align: right;
    padding: 30px 100px 0px 0px;
    cursor: pointer;
    font-size: 35px;
}

@media screen and (max-width: 990px) {
    #wrapper{
        text-align: left;
        padding: 0px 50px 0px 80px; 
    }
    .logo{
        margin-top: -60px;
    }
   #main-menu{
       flex-direction: column;
       text-align: center;
   } 
   #toggle{
       display: block;
   }
   nav{
       display: none;
   }
   nav #main-menu li a{
    padding: 15px 20px;
    font-family: 'Bangers';
    font-size: 27px;
    position: relative;
    }
   nav #main-menu a::after{
    content: "";
    height: 4px;
    width: 0px;
    background: #00a8ff;
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: all 0.5s ease-in-out;
    border-radius: 35px;
    }
   nav #main-menu a:hover:after{
       width: 30%;
   }

}

