html{
    background-color: aqua;
  
}
*{
    margin: 8px;
    padding: 0px;
    box-sizing: border-box;
    width: 980px;
    margin: 0 auto;
}
.container{
    text-align: center;
}
table, th, td, h1 {
    border:2px solid black;
    margin: 0 auto;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color:#ff0000;
    font-size: 20px;
    margin-top: 2px;
    line-height: 40px;
}
nav ul li a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
}
h1{
    background-color: blueviolet;
    text-align: center;
}
